<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a href="#"><i class="fa-solid fa-house"></i> Home</a>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-user"></i> Manage users</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <router-outlet></router-outlet>s
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>